<div *ngIf="showSpinner" class="wrapper spacing">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="!showSpinner" class="wrapper auth-form">
    <div class="form_wrapper">
        <div class="heading">
            <span class="line">{{ "login.text" | translate }}</span>
        </div>
        <div class="subHeading">
            {{ "login.sub_text" | translate }}
            <span> {{ "login.sub_text_UID" | translate }} </span>
        </div>
        <div [ngClass]="selectedLanguage !== 'Arabic' ? 'form_fields_wrapper form_fields_padding' : 'form_fields_wrapper'">
            <div>
                <mat-form-field appearance="outline">
                    <mat-select (selectionChange)="changeLanguage()"
                                [(ngModel)]="selectedLanguage"
                                disableOptionCentering
                                panelClass="select-option"
                                placeholder="Select your language">
                        <mat-option *ngFor="let lang of languages" [value]="lang">{{lang}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="showContactDetails">
                <div [dir]="textDir">
                    <mat-form-field appearance="outline">
                        <input (input)="verifyInputFieldContact()"
                               [(ngModel)]="inputContactDetails"
                               autofocus="autofocus"
                               class="input_pri"
                               id="inputFieldContact"
                               matInput
                               placeholder="{{ 'login.label_email_num' | translate }}"
                               required/>
                    </mat-form-field>
                </div>
                <p *ngIf="errorLoginInput" class="error">{{ "login.invalidInput" | translate }}</p>
            </div>
            <div *ngIf="enableCaptcha && showCaptcha">
                <app-captcha [captchaSiteKey]="siteKey"></app-captcha>
            </div>
            <div *ngIf="captchaError" class="error" style="margin-left: 55px">
                {{ "recaptcha.errorMessage" | translate }}
            </div>
            <div *ngIf="showOTP">
                <mat-form-field appearance="outline">
                    <input (input)="showVerifyBtn()"
                           [(ngModel)]="inputOTP"
                           autofocus="autofocus"
                           id="inputFieldOTP"
                           matInput
                           placeholder="{{ 'login.label_otp' | translate }}"/>
                </mat-form-field>
            </div>
            <div *ngIf="showSendOTP">
                <button (click)="submit()"
                        [disabled]="!(inputContactDetails.length > 0 && (enableSendOtp || authService.isCaptchaAuthenticated())) || errorLoginInput"
                        class="btn_axn-pri"
                        mat-raised-button>
                    {{ "login.action_send" | translate }}
                </button>
            </div>

            <div *ngIf="showVerify">
                <button (click)="submit()"
                        [disabled]="disableVerify"
                        class="btn_axn-pri"
                        disabled="{{ disableBtn }}"
                        mat-raised-button>
                    {{ "login.action_verify" | translate }}
                </button>
            </div>
            <div *ngIf="showResend">
                <button (click)="submit()"
                        class="btn_axn-pri"
                        disabled="{{ disableBtn }}"
                        mat-raised-button>
                    {{ "login.action_resend" | translate }}
                </button>
            </div>
            <div id="timer">
                <span>{{ "login.otp_valid_label" | translate }}&nbsp;</span>
                <span id="minutesSpan">{{ minutes }}</span>:<span id="secondsSpan">{{ seconds }}</span>
            </div>
        </div>
    </div>
</div>
