<div class="dashboard-body">
    <app-heading-row [title]="'dashboard.title' | translate" [extraTitle]="loginId"></app-heading-row>
    <div class="wrapper">
        <div class="heading-row-tow">
                <span [matTooltipDisabled]="!disableModifyAppointmentButton"
                      matTooltip="{{ 'helpText.book/modify_appointment' | translate }}">
                    <button (click)="onModifyMultipleAppointment()"
                            [disabled]="disableModifyAppointmentButton"
                            class="btn_axn-sec page_btn mar_right-30">
                        {{ 'dashboard.action_modify_appointment' | translate }}
                    </button>
                </span>
            <span>
                    <button (click)="onNewApplication()" class="btn_axn-pri page_btn">
                        {{ 'dashboard.action_cre_application' | translate }}
                    </button>
                </span>
        </div>
    </div>
    <div *ngIf="!isFetched" class="spinner">
        <mat-spinner [diameter]="50"></mat-spinner>
    </div>
    <div *ngIf="!isNewApplication && isFetched">
        <div class="wrapper2">
            <div class="card-container">
                <div *ngFor="let user of users" class="card-component">
                    <mat-card class="booking-card" *ngIf="!user.appointmentDate || (user.appointmentDate.toString().indexOf('9999') < 0) || (user.appointmentDate.toString().indexOf('9999') >= 0 && user.request && user.request.createdDateTime && !getIsExpiredApplicationFromCreationDate(user.request.createdDateTime))">
                        <div class="card-header">
                        <span class="checkbox">
                            <mat-checkbox (change)="onSelectUser(user, $event)"></mat-checkbox>
                        </span>
                            <span class="checkbox">
                                {{ 'dashboard.card.text_app_id' | translate }}&nbsp;&nbsp;
                                <strong matTooltip="{{ 'helpText.applicationId' | translate }}"># {{ user.applicationID }}</strong>
                            </span>
                            <span class="spacer"></span>
                            <button (click)="onDelete(user)" *ngIf="!(user.status === 'Expired')" mat-icon-button>
                                <img [matTooltipDisabled]="false"
                                     matTooltip="{{'helpText.deleteIcon' | translate }}"
                                     src="assets/img/trash-alt.png"
                                     class="delete-img"/>
                            </button>
                        </div>
                        <mat-card-content [ngStyle]="{ marginTop: getMargin(user.name) }">
                            <div class="card-content">
                                <table>
                                    <tr>
                                        <td>{{ 'dashboard.card.text_name' | translate }}</td>
                                        <td [ngClass]="user.name.length > 30 ? 'application-value user__name--wordwrap' : 'application-value'">
                                            {{ user.name }}
                                        </td>
                                    </tr>
                                    <tr *ngIf="user.center">
                                        <td>Centre</td>
                                        <td class="application-value">
                                            {{ user.center }}
                                        </td>
                                    </tr>
                                    <tr *ngIf="user.appointmentDate && user.appointmentDate.toString().indexOf('9999') < 0">
                                        <td>{{ 'dashboard.card.text_appoinment_date' | translate }}</td>
                                        <td class="application-value">
                                            {{ user.appointmentTime }} {{ user.appointmentDate }}
                                        </td>
                                    </tr>
                                    <tr *ngIf="user && user.request && user.request.createdDateTime && (!user.appointmentDate || (user.appointmentDate.toString().indexOf('9999') >= 0))">
                                        <td>{{ 'dashboard.card.text_expiry_date' | translate }}</td>
                                        <td class="application-value">
                                            {{getExpiryDateStringValueFromCreationDate(user.request.createdDateTime)}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{ 'dashboard.card.text_status' | translate }}</td>
                                        <td [ngStyle]="{ color: getColor(user.status) }" id="status">
                                            {{(user.status === 'Booked' ? 'dashboard.status.booked' : user.status === 'Expired' ? 'dashboard.status.expired' : 'dashboard.status.pendingAppointment') | translate}}
                                            <mat-icon [inline]="true" class="icon"
                                                      matTooltip="{{(user.status === 'Booked' ? 'helpText.status.booked' : user.status === 'Expired' ? 'helpText.status.expired' : 'helpText.status.pendingAppointment') | translate}}">
                                                help_outline
                                            </mat-icon>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </mat-card-content>
                        <mat-card-footer>
                            <mat-card-actions>
                                <button (click)="onModifyInformation(user)"
                                        [disabled]="disableModifyDataButton"
                                        class="footer-btn"
                                        mat-button>
                                    {{'dashboard.card.action_modify_information' | translate}}
                                </button>
                                <button (click)="onAcknowledgementView(user)"
                                        [disabled]="user.status === 'Pending_Appointment'"
                                        class="footer-btn"
                                        mat-button>
                                    {{'dashboard.card.action_view_acknowledgement' | translate}}
                                </button>
                            </mat-card-actions>
                        </mat-card-footer>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
