<div class="wrapper">
    <div class="breadcrum">
        <div class="ithem demographic_details"
             [ngClass]="classes.step1.p"> {{'stepper.link_demographic'| translate}} </div>
        <div class="ithem upload_doc" [ngClass]="classes.step2.p"> {{'stepper.link_upload_doc'| translate}}</div>
        <div class="ithem link_book" [ngClass]="classes.step3.p"> {{'stepper.link_book'| translate}} </div>
        <div class="ithem link_confirm" [ngClass]="classes.step4.p"> {{'stepper.link_confirm'| translate}}</div>
    </div>
</div>
