<div class="header-view-container">
    <h3 class="header-view-title">{{getPartnerRequestSingleViewTitleLabel()}}</h3>
</div>

<mat-card class="rnp-form-container">

    <mat-card-content>

        <form [formGroup]="partnerRequestSingleViewFormGroup">

            <p>
                <mat-form-field *ngIf="requestIdParam" appearance="outline">
                    <mat-label>{{partnerRequestSingleViewLabels.columns['requestId']}}</mat-label>
                    <input formControlName="requestId" matInput readonly>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>{{partnerRequestSingleViewLabels.columns['partnerID']}}</mat-label>
                    <input formControlName="partnerID" matInput>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>{{partnerRequestSingleViewLabels.columns['policyName']}}</mat-label>
                    <input formControlName="policyName" matInput>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>{{partnerRequestSingleViewLabels.columns['policyDesc']}}</mat-label>
                    <input formControlName="policyDesc" matInput>
                </mat-form-field>
            </p>

        </form>

    </mat-card-content>

    <mat-card-actions>
        <button (click)="onClickSubmitBtnHandler()"
                class="rnp-form-btn rnp-form-submit-btn"
                mat-raised-button>
            {{partnerRequestSingleViewLabels['submit-btn-label']}}
        </button>
        <button (click)="onClickCancelBtnHandler()"
                class="rnp-form-btn"
                mat-raised-button>
            {{partnerRequestSingleViewLabels['cancel-btn-label']}}
        </button>
    </mat-card-actions>

</mat-card>
