.acknowledgement__container {
    margin: auto auto;
    margin-bottom: 10rem;
    position: relative;
    width: 80%;
    background-color: white;
}

.acknowledgement-container {
    margin: auto auto;
    margin-top: 12rem !important;
    padding-top: 1rem !important;
    background-color: #ffffff;
    width: fit-content;
    display: block;
    box-shadow: none;
    height: 100%;
    margin-bottom: 10rem;
}

.acknowledgement-mat-card {
    margin: auto auto;
    background-color: #ffffff;
    display: block;
    box-shadow: none;
    width: 21cm;
    height: 27.4cm;
    padding-top: 0px;
    font-size: 85%;
}

.mat-card-header {
    display: block !important;
}


.acknowledgement-body-container {
    margin: auto auto;
    width: 100% !important;
}

.acknowledgement-footer-container {
    width: 95.73%!important;
    margin: auto auto;
    position: absolute;
    bottom: 0;
}

/*.acknowledgement__body-content-div {*/
/*    width: 100%;*/
/*    max-width: 510px;*/
/*}*/

.acknowledgement-body-content hr {
    left: 0;
    width: 100%;
    border: 1px dotted #c9c9c9;
    height: 1px;
    color: black;
}

/*.acknowledgement__body-content-div {*/
/*    margin-right: 25px;*/
/*}*/

@media (max-width: 500px) {
    .acknowledgement-body-content {
        width: 100%;
    }
}

.acknowledgement-header-container {
    width: 100%;
    margin-bottom: 1rem !important;
}

.acknowledgement__button-container {
    margin-top: 3rem;
    padding: 1rem 1rem;
    box-shadow: none;
    min-height: 8rem;
}

.user-back-btn {
    border-radius: 2px;
    background-color: transparent;
    border: 1px solid #007e42;
    color: #007e42;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: 52px;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 80px;
}


.user-book_later-btn {
    border-radius: 2px;
    background-color: transparent;
    border: 1px solid #007e42;
    color: #007e42;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.6rem;
    margin-right: 20px;
    cursor: pointer;
    text-transform: uppercase;
}

.user-continue-btn {
    line-height: 1;
    border-radius: 2px;
    background-color: #007e42;
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.6rem;
    font-weight: bold;
    margin-top: 0.6rem !important;
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
    cursor: pointer;
    text-transform: uppercase;
}

.top-page-header-table {
    width: 100%;
    margin: auto auto;
}

.top-page-header-table-line {
    width: 100% !important;
    line-height: 1;
}

.top-page-header-table-line h4 {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 95%;
}

.top-page-header-table-line-title {
    width: 100%;
}


.top-page-header-table-line-title h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.1rem 0.1rem;
}

.top-page-header-table-line-title h4 b {
    font-family: 'Reem Kufi', sans-serif !important;
}

.top-page-header-table-line-img {
    text-align: center;
    width: 100%;
}

.acknowledgement__body-content-title-centered {
    width: 100% !important;
    margin: auto auto;
    margin-top: 0.5rem !important;
    background-color: #D1D0D0;
    text-align: center;
}

.acknowledgement__body-content-title-centered h4 {
    font-size: 1rem;
    margin: 0.1rem 0.1rem;
    font-weight: bold;
}

.acknowledgement__body-content-title {
    width: 100% !important;
    margin: auto auto;
    margin-top: 0.5rem !important;
    background-color: #D1D0D0;
}

.acknowledgement__body-content-title h5 {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}


.acknowledgement__body-content-title h4 {
    font-size: 1rem;
    margin: 0.1rem 0.1rem;
    font-weight: bold;
}


.acknowledgement-content-table {
    /*margin-top: 1rem !important;*/
    width: 100% !important;
    /*margin: auto auto;*/
    /*margin-bottom: 1rem;*/
}

.acknowledgement-content-line {
    width: 100% !important;
    margin: auto auto;
}

.acknowledgement-content-body {
    text-align: left;
    width: 75%;
    font-size: 1rem;
}

.acknowledgement-content-qr {
    text-align: center;
    width: 15%;
}

.align-buttons-centered {
    text-align: center;
    margin: auto auto;
}

.acknowledgement-guideline-header {
    font-size: 0.9rem;
    margin: 0.1rem 0.1rem;
    font-weight: bold;
}

.ack-justificatifs {
    margin-left: 2rem;
}


.result-data {
    font-weight: bold;
}


.mat-card-content, .mat-card-subtitle {
    font-size: 0.7rem !important;
}

.mat-card-content, .mat-card-subtitle {
    font-size: 0.7rem !important;
}
