<div class="header-view-container">
    <h3 class="header-view-title">{{getAuthPartnerSingleViewTitleLabel()}}</h3>
</div>

<mat-card class="rnp-form-container">

    <mat-card-content>

        <form [formGroup]="authPartnerSingleViewFormGroup">

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>{{authPartnerSingleViewLabels.columns['partnerId']}}</mat-label>
                    <input formControlName="partnerId" matInput>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>{{authPartnerSingleViewLabels.columns['partnerType']}}</mat-label>
                    <input formControlName="partnerType" matInput>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>{{authPartnerSingleViewLabels.columns['organizationName']}}</mat-label>
                    <input formControlName="organizationName" matInput>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>{{authPartnerSingleViewLabels.columns['policyGroup']}}</mat-label>
                    <input [readonly]="partnerIdParam" formControlName="policyGroup" matInput>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>{{authPartnerSingleViewLabels.columns['emailId']}}</mat-label>
                    <input formControlName="emailId" matInput>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>{{authPartnerSingleViewLabels.columns['contactNumber']}}</mat-label>
                    <input formControlName="contactNumber" matInput>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>{{authPartnerSingleViewLabels.columns['address']}}</mat-label>
                    <input formControlName="address" matInput>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field *ngIf="partnerIdParam" appearance="outline">
                    <mat-label>{{authPartnerSingleViewLabels.columns['status']}}</mat-label>
                    <input formControlName="status" matInput readonly>
                </mat-form-field>
            </p>

            <mat-accordion *ngIf="partnerIdParam && authPartnerApiKeys">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h5 class="rnp-form-accordion-sub-container-title">
                                {{authPartnerSingleViewLabels['keys-apis-accordion-title']}}
                            </h5>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="rnp-form-accordion-sub-container-content">
                        <app-auth-partner-api-keys-view [authPartnerApiKeys]="authPartnerApiKeys"
                                                        [authPartnerSingleViewLabels]="authPartnerSingleViewLabels">
                        </app-auth-partner-api-keys-view>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <p>
                <mat-form-field *ngIf="partnerIdParam" appearance="outline">
                    <mat-label>{{authPartnerSingleViewLabels.columns['activation-actions']}}</mat-label>
                    <input hidden matInput value=" ">
                    <button (click)="onClickActiveAuthPartnerBtnHandler()"
                            [disabled]="isActiveAuthPartner"
                            class="rnp-form-btn rnp-form-submit-btn rnp-action-btn"
                            mat-raised-button>
                        {{authPartnerSingleViewLabels.columns['activate-btn-label']}}
                    </button>
                    <button (click)="onClickDesactiveAuthPartnerBtnHandler()"
                            [disabled]="isDesactiveAuthPartner"
                            class="rnp-form-btn rnp-form-danger-btn rnp-action-btn"
                            mat-raised-button>
                        {{authPartnerSingleViewLabels.columns['desactivate-btn-label']}}
                    </button>
                </mat-form-field>
            </p>

        </form>

    </mat-card-content>

    <mat-card-actions>
        <button (click)="onClickSubmitBtnHandler()"
                class="rnp-form-btn rnp-form-submit-btn"
                mat-raised-button>
            {{authPartnerSingleViewLabels['submit-btn-label']}}
        </button>
        <button (click)="onClickCancelBtnHandler()"
                class="rnp-form-btn"
                mat-raised-button>
            {{authPartnerSingleViewLabels['cancel-btn-label']}}
        </button>
    </mat-card-actions>

</mat-card>
