<div class="preview-body">
    <app-heading-row [title]="'preview.title_preview' | translate"></app-heading-row>
    <div class="wrapper">
        <div *ngIf="previewData !== undefined && secondaryRightToLeftLanguageLabels !== undefined"
             class="preview__container" [dir]="getPrimaryDirection()">
            <mat-card class="preview__header-container card-padding">
                <mat-card-content>
                    <div class="preview__body-content-container">
                        <div [ngClass]="(getPrimaryDirection() === 'rtl') ? 'preview__body-content-div float-right spacing' : 'preview__body-content-div float-left'"
                             [dir]="getPrimaryDirection()">
                            <div class="title-lang">
                                {{ primaryLeftToRightLanguageLabels.language }}
                            </div>
                            <ng-container *ngFor="let group of uiFieldsGroups">
                                <ng-container *ngIf="getFieldsOfGroup(group).length > 0">
                                    <h4>{{ demographicPrimaryLeftToRightLanguageLabels["fields_groups"][group] }} :</h4>
                                    <mat-card class="fields-group">
                                        <!-- <mat-card-header> -->
                                        <!--     <mat-card-title class="fields-group-title"> -->
                                        <!--         {{ demographiclabels["fields_groups"][group] }} -->
                                        <!--     </mat-card-title> -->
                                        <!-- </mat-card-header> -->
                                        <mat-card-content>
                                            <table>
                                                <tr *ngFor="let field of getFieldsOfGroup(group)">
                                                    <ng-container *ngIf="field.preview && previewData[field.id]">
                                                        <div> {{ field.labelName[primaryLeftTorRightLanguage] }} </div>
                                                        <div *ngIf="field.controlType">
                                                            <div *ngIf="previewData[field.id].length > 2 && field.controlType != 'date'">
                                                                {{ previewData[field.id] }}
                                                            </div>
                                                            <div *ngIf="previewData[field.id] && field.controlType != 'dropdown' && field.controlType != 'date'">
                                                                {{ previewData[field.id][0].value }}
                                                            </div>
                                                            <div *ngIf="previewData[field.id] && field.controlType == 'date'">
                                                                {{getDateOfBirth()}}
                                                            </div>
                                                            <div *ngIf="previewData[field.id] && field.controlType == 'dropdown'">
                                                                {{getSelectedPrimaryLanguageValueFromDropdown(field.id, previewData[field.id][0].value)}}
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </tr>
                                            </table>
                                        </mat-card-content>
                                    </mat-card>
                                </ng-container>
                            </ng-container>
                        </div>
                        <div class="preview__modify-div">
                            <span (click)="modifyDemographic()"
                                  class="preview__modify-file"
                                  matTooltip="{{ 'helpText.modify_at_DemoPreview' | translate }}">
                                {{ 'preview.action_modify' | translate }}
                            </span>
                        </div>
                        <div [ngClass]="(getSecondaryDirection() === 'rtl') ? 'preview__body-content-div float-right' : 'preview__body-content-div float-left'"
                             [dir]="getSecondaryDirection()">
                            <!-- <h3>{{ secondaryLanguagelabels.language }}</h3> -->
                            <div class="title-lang">
                                {{ secondaryRightToLeftLanguageLabels.language }}
                            </div>
                            <ng-container *ngFor="let group of uiFieldsGroups">
                                <ng-container *ngIf="getFieldsOfGroup(group).length > 0">
                                    <h4>{{ demographicSecondaryRightToLeftLanguageLabels["fields_groups"][group] }}
                                        :</h4>
                                    <mat-card class="fields-group">
                                        <!-- <mat-card-header> -->
                                        <!--     <mat-card-title class="fields-group-title"> -->
                                        <!--          {{ secondaryLanguageDemographiclabels["fields_groups"][group] }} -->
                                        <!--     </mat-card-title> -->
                                        <!-- </mat-card-header> -->
                                        <mat-card-content>
                                            <table>
                                                <tr *ngFor="let field of getFieldsOfGroup(group)">
                                                    <ng-container *ngIf="field.preview && previewData[field.id]">
                                                        <div>{{ field.labelName[secondaryRightToLeftLanguage] }}</div>
                                                        <div *ngIf="field.controlType">
                                                            <div *ngIf="previewData[field.id].length > 2 && field.controlType != 'date'">
                                                                {{ previewData[field.id] }}
                                                            </div>
                                                            <div *ngIf="previewData[field.id] && field.controlType != 'dropdown' && field.controlType != 'date'">
                                                                {{ previewData[field.id][1].value }}
                                                            </div>
                                                            <div *ngIf="previewData[field.id] && field.controlType == 'date'">
                                                                {{ getDateOfBirth() }}
                                                            </div>
                                                            <div *ngIf="previewData[field.id] && field.controlType == 'dropdown'">
                                                                {{ getSelectedSecondaryLanguageValueFromDropdown(field.id, previewData[field.id][1].value) }}
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </tr>
                                            </table>
                                        </mat-card-content>
                                    </mat-card>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </mat-card-content>
                <div class="preview__footer-header">
                    <h3 class="left" [dir]="getPrimaryDirection()">{{ primaryLeftToRightLanguageLabels.title_document }}</h3>
                    <span (click)="modifyDocument()"
                          class="preview__modify-file"
                          matTooltip="{{ 'helpText.modify_at_DocumentPreview' | translate }}">
                        {{ 'preview.action_modify' | translate }}
                    </span>
                    <h3 class="right" [dir]="getSecondaryDirection()">{{ secondaryRightToLeftLanguageLabels.title_document }}</h3>
                </div>
                <mat-card-footer class="preview__footer-container">
                    <div class="preview__footer">
                        <div class="preview__file-container">
                            <table style="width:100%" *ngIf="documentMapObject">
                                <tr class="preview__file__table__header">
                                    <td *ngFor="let object of documentMapObject"><b>{{ object.name }}</b></td>
                                </tr>
                                <tr class="preview__file__table__data">
                                    <td *ngFor="let object of documentMapObject">
                                        <div *ngIf="object.fileName !== undefined">{{ object.fileName }}</div>
                                        <div class="error"
                                             *ngIf="object.fileName === undefined">{{ 'preview.text_not_uploaded' | translate }}</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </mat-card-footer>
            </mat-card>
            <mat-card class="center-selection__button-container" [dir]="getOriginalPrimaryDirection()">
                <button (click)="navigateBack()" class="user-back-btn">{{ 'preview.action_back' | translate }}</button>
                <div class="rightB">
                    <button matTooltip="{{ 'helpText.add_applicant' | translate }}"
                            (click)="navigateDashboard()"
                            class="user-book_later-btn">
                        {{ 'preview.action_add_applicant' | translate }}
                    </button>
                    <button (click)="navigateNext()" class="user-continue-btn">
                        {{ 'preview.action_continue' | translate }}
                    </button>
                </div>
            </mat-card>
        </div>
    </div>
</div>
