<div *ngIf="!isPrimaryLeftToRightLanguageUserForm && !hasError" class="spinner">
    <mat-spinner></mat-spinner>
</div>
<div class="demographic-body">
    <app-heading-row [title]="'demographic.title' | translate"></app-heading-row>
    <div class="wrapper">
        <div *ngIf="isPrimaryLeftToRightLanguageUserForm" class="user" [dir]="getPrimaryDirection()">
            <div *ngIf="isPrimaryLeftToRightLanguageUserForm"
                 [dir]="getPrimaryDirection()"
                 class="user__container"
                 [ngClass]="(getPrimaryDirection() === 'rtl') ? 'float-right' : 'float-left'">
                <div class="title-lang">
                    {{ demographicPrimaryLeftToRightLanguageLabels.language }}
                </div>
                <div class="fields-indication">
                    {{ demographicPrimaryLeftToRightLanguageLabels.fields_indication }}
                </div>
                <form [formGroup]="leftToRightUserForm" class="user__form">
                    <mat-accordion>
                        <ng-container *ngFor="let group of uiFieldsGroups" [dir]="getPrimaryDirection()">
                            <ng-container *ngIf="getFieldsOfGroup(group).length > 0">
                                <mat-expansion-panel
                                        [ngClass]="uiFieldsGroupsErrorStatus[group] ? 'mat-expansion-panel red-border' : 'mat-expansion-panel'"
                                        (opened)="uiFieldsGroupsPanelsOpenStates[group] = true"
                                        (closed)="uiFieldsGroupsPanelsOpenStates[group] = false"
                                        [(expanded)]="uiFieldsGroupsPanelsOpenStates[group]">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <h3>{{ demographicPrimaryLeftToRightLanguageLabels["fields_groups"][group] }}</h3>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <mat-card class="fields-group">
                                        <mat-card-content>
                                            <ng-container *ngFor="let field of getFieldsOfGroup(group)">
                                                <ng-container *ngIf="field.controlType === 'textbox'">
                                                    <mat-form-field [ngClass]="'text-field'" appearance="outline">
                                                        <mat-label>
                                                            {{ field.labelName[primaryLeftToRightLanguage] }}
                                                            <span *ngIf="field.required"
                                                                  class="required-annotation">*</span>
                                                        </mat-label>
                                                        <input #input #keyboardRef
                                                               (focusout)="copyToSecondaryFormNonDropDown(field.id, $event)"
                                                               (input)="copyToSecondaryFormNonDropDown(field.id, $event)"
                                                               formControlName="{{ field.id }}"
                                                               matInput/>
                                                        <mat-icon *ngIf="field.tooltip" matSuffix
                                                                  matTooltip="{{demographicPrimaryLeftToRightLanguageLabels['tooltip'][field.id]}}">
                                                            help_outline
                                                        </mat-icon>
                                                    </mat-form-field>
                                                </ng-container>
                                                <ng-container
                                                        *ngIf="field.controlType === 'dropdown' && field.subtype !== 'radio'">
                                                    <mat-form-field [ngClass]="'dropdown-field'" appearance="outline">
                                                        <mat-label>
                                                            {{ field.labelName[primaryLeftToRightLanguage]}}
                                                            <span *ngIf="field.required"
                                                                  class="required-annotation">*</span>
                                                        </mat-label>
                                                        <mat-select #dropdown
                                                                    (focus)="dropdownApiCall(field)"
                                                                    (selectionChange)="copyDataToSecondaryForm(field.id, leftToRightUserForm.get(field.id).value)"
                                                                    formControlName="{{ field.id }}">
                                                            <mat-option
                                                                    *ngIf="!(primaryLeftToRightLanguagDropDownFields[field.id]?.length > 0 && primaryLeftToRightLanguagDropDownFields[field.id] !== null)">
                                                                <mat-spinner [diameter]="20" style="margin-left: 43%">
                                                                </mat-spinner>
                                                            </mat-option>
                                                            <mat-option
                                                                    *ngFor="let dropdown of primaryLeftToRightLanguagDropDownFields[field.id]"
                                                                    (click)="resetLocationFields(field.id)"
                                                                    [value]="dropdown.valueCode">
                                                                {{ dropdown.valueName }}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </ng-container>
                                                <ng-container
                                                        *ngIf="field.controlType === 'dropdown' && field.subtype === 'radio'">
                                                    <mat-radio-group formControlName="{{ field.id }}"
                                                                     (change)="onChangeRadioValue(field.id)">
                                                        <mat-label>
                                                            {{ field.labelName[primaryLeftToRightLanguage]}}
                                                            <span *ngIf="field.required"
                                                                  class="required-annotation">*</span>
                                                            &nbsp;
                                                            <mat-icon *ngIf="field.tooltip" class="mat-tooltip-icon-btn"
                                                                      matTooltip="{{demographicPrimaryLeftToRightLanguageLabels['tooltip'][field.id]}}">
                                                                help_outline
                                                            </mat-icon>
                                                            &nbsp;
                                                            :
                                                        </mat-label>
                                                        <mat-radio-button class="radio-button"
                                                                          *ngFor="let dropdown of primaryLeftToRightLanguagDropDownFields[field.id]"
                                                                          [value]="dropdown.valueCode">
                                                            {{ dropdown.valueName }}
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </ng-container>
                                                <ng-container *ngIf="field.controlType === 'date'">
                                                    <mat-label>
                                                        {{ field.labelName[primaryLeftToRightLanguage] }}
                                                        <span *ngIf="field.required"
                                                              class="required-annotation">*</span>
                                                        &nbsp;
                                                        <mat-icon *ngIf="field.tooltip" class="mat-tooltip-icon-btn"
                                                                  matTooltip="{{demographicPrimaryLeftToRightLanguageLabels['tooltip'][field.id]}}">
                                                            help_outline
                                                        </mat-icon>
                                                    </mat-label>
                                                    <div class="user__age-or-date">
                                                        <mat-form-field appearance="outline"
                                                                        class="user-birth-date-year-field">
                                                            <mat-label>
                                                                {{ demographicPrimaryLeftToRightLanguageLabels.date_yyyy }}
                                                            </mat-label>
                                                            <mat-select formControlName="yearOfBirth" required>
                                                                <mat-option
                                                                        *ngFor="let year of getAvailableYearsForBirthday()"
                                                                        [value]="year">{{year}}</mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                        <mat-form-field appearance="outline"
                                                                        class="user-birth-date-month-field">
                                                            <mat-label>
                                                                {{ demographicPrimaryLeftToRightLanguageLabels.date_mm }}
                                                            </mat-label>
                                                            <mat-select [disabled]="!year"
                                                                        formControlName="monthOfBirth">
                                                                <mat-option
                                                                        *ngFor="let month of getAvailableMonthForBirthday()"
                                                                        [value]="month">{{month}}</mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                        <mat-form-field appearance="outline"
                                                                        class="user-birth-date-day-field">
                                                            <mat-label>
                                                                {{ demographicPrimaryLeftToRightLanguageLabels.date_dd }}
                                                            </mat-label>
                                                            <mat-select
                                                                    [disabled]="!year || !month || !month.replace(' ', '')"
                                                                    formControlName="dayOfBirth">
                                                                <mat-option
                                                                        *ngFor="let day of getAvailableDayForBirthday()"
                                                                        [value]="day">{{day}}</mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                        <div class="user__pref">
                                                            <!--                                                    <p class="user__pref-text">-->
                                                            <!--                                                        {{ "demographic.text_or" | translate }}-->
                                                            <!--                                                    </p>-->
                                                        </div>
                                                        <mat-form-field class="user__age" appearance="outline">
                                                            <mat-label>
                                                                {{ demographicPrimaryLeftToRightLanguageLabels.text_years }}
                                                            </mat-label>
                                                            <input class="user__age-input" #age matInput disabled
                                                                   [value]="(currentAge) ? currentAge : demographicPrimaryLeftToRightLanguageLabels.label_age"
                                                                   placeholder="{{ demographicPrimaryLeftToRightLanguageLabels.label_age }}"
                                                                   tabindex="-1"/>
                                                        </mat-form-field>
                                                    </div>
                                                </ng-container>
                                                <mat-error class="primary-errors">
                                                    <p class="error-text"
                                                       *ngIf="isPrimaryLeftToRightLanguageUserForm && leftToRightUserForm.get(field.id).hasError('required') && leftToRightUserForm.get(field.id).touched">
                                                        {{getRequiredErrorPrimaryLanguageMessage(field.labelName[primaryLeftToRightLanguage])}}
                                                    </p>
                                                    <p class="error-text"
                                                       *ngIf="isPrimaryLeftToRightLanguageUserForm && leftToRightUserForm.get(field.id).touched && leftToRightUserForm.get(field.id).dirty && !leftToRightUserForm.get(field.id).valid">
                                                        {{getValidationErrorPrimaryLanguageMessage(field.labelName[primaryLeftToRightLanguage])}}
                                                    </p>
                                                    <p class="error-text"
                                                       *ngIf="(field.id == 'civilRegistryNumber' || field.id == 'parentOrGuardianUIN') && (leftToRightUserForm.get('civilRegistryNumber').value && leftToRightUserForm.get('parentOrGuardianUIN').value) && (leftToRightUserForm.get('civilRegistryNumber').value == leftToRightUserForm.get('parentOrGuardianUIN').value)">
                                                        {{demographicPrimaryLeftToRightLanguageLabels.errorSameCivilRegistryNumberAsParentOrGuardianUIN}}
                                                    </p>
                                                </mat-error>
                                            </ng-container>
                                        </mat-card-content>
                                    </mat-card>
                                </mat-expansion-panel>
                            </ng-container>
                        </ng-container>
                    </mat-accordion>
                </form>
            </div>
            <div [dir]="getSecondaryDirection()"
                 *ngIf="isSecondaryRightToLeftLanguageUserForm && !(primaryLeftToRightLanguage === secondaryRightToLeftLanguage)"
                 class="user__container"
                 [ngClass]="(getSecondaryDirection() === 'rtl') ? 'float-right' : 'float-left'">
                <div class="title-lang">
                    {{ demographicSecondaryRightToLeftLanguagelabels.language }}
                </div>
                <div class="fields-indication">
                    {{ demographicSecondaryRightToLeftLanguagelabels.fields_indication }}
                </div>
                <form [formGroup]="rightToLeftUserForm" class="user__form">
                    <mat-accordion>
                        <ng-container *ngFor="let group of uiFieldsGroups" [dir]="getSecondaryDirection()">
                            <ng-container *ngIf="getFieldsOfGroup(group).length > 0">
                                <mat-expansion-panel
                                        [ngClass]="uiFieldsGroupsErrorStatus[group] ? 'mat-expansion-panel red-border' : 'mat-expansion-panel'"
                                        (opened)="uiFieldsGroupsPanelsOpenStates[group] = true"
                                        (closed)="uiFieldsGroupsPanelsOpenStates[group] = false"
                                        [(expanded)]="uiFieldsGroupsPanelsOpenStates[group]">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <h3>{{ demographicSecondaryRightToLeftLanguagelabels["fields_groups"][group] }}</h3>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <mat-card class="fields-group">
                                        <mat-card-content>
                                            <ng-container *ngFor="let field of getFieldsOfGroup(group)">
                                                <ng-container *ngIf="field.controlType === 'textbox'">
                                                    <mat-form-field [ngClass]="'text-field'" appearance="outline">
                                                        <mat-label>
                                                            {{ field.labelName[secondaryRightToLeftLanguage] }}
                                                            <span *ngIf="field.required"
                                                                  class="required-annotation">*</span>
                                                        </mat-label>
                                                        <input matInput
                                                               [readonly]="getReadOnlyfields(field.id)"
                                                               formControlName="{{ field.id }}"
                                                               id="input-rtl-{{field.id}}"
                                                               cdkOverlayOrigin
                                                               #inputTrigger="cdkOverlayOrigin"/>
                                                        <app-rnp-custom-simple-keyboard *ngIf="secondaryRightToLeftLanguage === 'ara' && !getReadOnlyfields(field.id)"
                                                                                        [inputOriginTrigger]="inputTrigger"
                                                                                        [inputClassIdentificator]="'input-rtl-' + field.id"
                                                                                        [simpleKeyboardLanguage]="ARABIC_LANGUAGE_LAYOUT_SIMPLE_KEYBOARD"
                                                                                        matSuffix>
                                                        </app-rnp-custom-simple-keyboard>
                                                        <mat-icon *ngIf="field.tooltip" matSuffix
                                                                  matTooltip="{{demographicSecondaryRightToLeftLanguagelabels['tooltip'][field.id]}}">
                                                            help_outline
                                                        </mat-icon>
                                                    </mat-form-field>
                                                </ng-container>
                                                <ng-container
                                                        *ngIf="field.controlType === 'dropdown' && field.subtype !== 'radio'">
                                                    <mat-form-field [ngClass]="'dropdown-field'" appearance="outline">
                                                        <mat-label>
                                                            {{ field.labelName[secondaryRightToLeftLanguage] }}
                                                            <span *ngIf="field.required"
                                                                  class="required-annotation">*</span>
                                                        </mat-label>
                                                        <mat-select #dropdown [disabled]="true"
                                                                    formControlName="{{ field.id }}">
                                                            <mat-option
                                                                    *ngIf="secondaryRightToLeftLanguageDropDownLabels[field.id]?.length === 0">
                                                                <mat-spinner [diameter]="20"
                                                                             style="margin-left: 43%"></mat-spinner>
                                                            </mat-option>
                                                            <mat-option
                                                                    *ngFor="let dropdown of secondaryRightToLeftLanguageDropDownLabels[field.id]"
                                                                    (click)="resetLocationFields(field.id)"
                                                                    [value]="dropdown.valueCode">
                                                                {{ dropdown.valueName }}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </ng-container>
                                                <ng-container
                                                        *ngIf="field.controlType === 'dropdown' && field.subtype === 'radio'">
                                                    <mat-radio-group formControlName="{{ field.id }}" disabled>
                                                        <mat-label>
                                                            {{ field.labelName[secondaryRightToLeftLanguage] }}
                                                            <span *ngIf="field.required"
                                                                  class="required-annotation">*</span>
                                                            &nbsp;
                                                            <mat-icon *ngIf="field.tooltip" class="mat-tooltip-icon-btn"
                                                                      matTooltip="{{demographicSecondaryRightToLeftLanguagelabels['tooltip'][field.id]}}">
                                                                help_outline
                                                            </mat-icon>
                                                            &nbsp;
                                                            :
                                                        </mat-label>
                                                        <mat-radio-button class="radio-button"
                                                                          *ngFor="let dropdown of secondaryRightToLeftLanguageDropDownLabels[field.id]"
                                                                          [value]="dropdown.valueCode">
                                                            {{ dropdown.valueName }}
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </ng-container>
                                                <ng-container *ngIf="field.controlType === 'date'">
                                                    <mat-label>
                                                        {{ field.labelName[secondaryRightToLeftLanguage]}}
                                                        <span *ngIf="field.required"
                                                              class="required-annotation">*</span>
                                                        &nbsp;
                                                        <mat-icon *ngIf="field.tooltip" class="mat-tooltip-icon-btn"
                                                                  matTooltip="{{demographicSecondaryRightToLeftLanguagelabels['tooltip'][field.id]}}">
                                                            help_outline
                                                        </mat-icon>
                                                    </mat-label>
                                                    <div class="user__age-or-date">
                                                        <mat-form-field appearance="outline"
                                                                        class="user-birth-date-year-field-ara">
                                                            <mat-label>
                                                                {{ demographicSecondaryRightToLeftLanguagelabels.date_yyyy }}
                                                            </mat-label>
                                                            <mat-select formControlName="yearOfBirth" disabled>
                                                                <mat-option
                                                                        *ngFor="let year of getAvailableYearsForBirthday()"
                                                                        [value]="year">{{year}}</mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                        <mat-form-field appearance="outline"
                                                                        class="user-birth-date-month-field-ara">
                                                            <mat-label>
                                                                {{ demographicSecondaryRightToLeftLanguagelabels.date_mm }}
                                                            </mat-label>
                                                            <mat-select formControlName="monthOfBirth" disabled>
                                                                <mat-option
                                                                        *ngFor="let month of getAvailableMonthForBirthday()"
                                                                        [value]="month">{{month}}</mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                        <mat-form-field appearance="outline"
                                                                        class="user-birth-date-day-field-ara">
                                                            <mat-label>
                                                                {{ demographicSecondaryRightToLeftLanguagelabels.date_dd }}
                                                            </mat-label>
                                                            <mat-select formControlName="dayOfBirth" disabled>
                                                                <mat-option
                                                                        *ngFor="let day of getAvailableDayForBirthday()"
                                                                        [value]="day">{{day}}</mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                        <div class="user__pref">
                                                            <!--                                                    <p class="user__pref-text">-->
                                                            <!--                                                        {{ secondaryLanguagelabels.text_or }}-->
                                                            <!--                                                    </p>-->
                                                        </div>
                                                        <mat-form-field class="user__age" appearance="outline">
                                                            <mat-label>
                                                                {{ demographicSecondaryRightToLeftLanguagelabels.text_years }}
                                                            </mat-label>
                                                            <input class="user__age-input" #age matInput disabled
                                                                   [value]="(currentAge) ? currentAge : demographicSecondaryRightToLeftLanguagelabels.label_age"
                                                                   placeholder="{{ demographicSecondaryRightToLeftLanguagelabels.label_age }}"
                                                                   tabindex="-1"/>
                                                        </mat-form-field>
                                                    </div>
                                                </ng-container>
                                                <mat-error class="primary-errors">
                                                    <p class="error-text"
                                                       *ngIf="isSecondaryRightToLeftLanguageUserForm && rightToLeftUserForm.get(field.id).touched && rightToLeftUserForm.get(field.id).hasError('required')">
                                                        {{ getRequiredErrorSecondaryLanguageMessage(field.labelName[secondaryRightToLeftLanguage]) }}
                                                    </p>
                                                    <p class="error-text"
                                                       *ngIf="rightToLeftUserForm.get(field.id).value && !rightToLeftUserForm.get(field.id).valid">
                                                        {{ getValidationErrorSecondaryLanguageMessage(field.labelName[secondaryRightToLeftLanguage]) }}
                                                    </p>
                                                    <p class="error-text"
                                                       *ngIf="(field.id == 'civilRegistryNumber' || field.id == 'parentOrGuardianUIN') && (rightToLeftUserForm.get('civilRegistryNumber').value && rightToLeftUserForm.get('parentOrGuardianUIN').value) && (rightToLeftUserForm.get('civilRegistryNumber').value == rightToLeftUserForm.get('parentOrGuardianUIN').value)">
                                                        {{demographicSecondaryRightToLeftLanguagelabels.errorSameCivilRegistryNumberAsParentOrGuardianUIN}}
                                                    </p>
                                                </mat-error>
                                            </ng-container>
                                        </mat-card-content>
                                    </mat-card>
                                </mat-expansion-panel>
                            </ng-container>
                        </ng-container>
                    </mat-accordion>
                </form>
            </div>
        </div>
        <div class="user__buttons">
            <button class="user__btn" type="button"
                    (click)="onSubmit()"
                    *ngIf="!showPreviewButton"
                    [disabled]="!dataUploadComplete">
                {{ "demographic.action_continue" | translate }}
            </button>
            <button class="user__btn" type="button"
                    (click)="onSubmit()"
                    *ngIf="showPreviewButton"
                    [disabled]="!dataUploadComplete">
                {{ "demographic.action_preview" | translate }}
            </button>
        </div>
    </div>
</div>

