<footer>
    <div class="wrapper">
        <div class="main-footer">
            <div class="sub-footer">
                <div class="tictn">
                    <img class="icon" src="assets\img\Hotline.png">
                    <div class="ftext">
                        Des questions ? Contactez notre centre d'appel, disponible du lundi au vendredi, de 9h00 à 16h00
                    </div>
                </div>
                <div class="contact-phone">
                    <a href="tel:05 37 701 701"> 05 37 701 701 </a>
                    Prix de la communication: 1dh la minute ttc
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="wrapper">
    <div class="menu-footer">
        <div class="copyright">
            © 2020 Ministère de l'intérieur - Tous les droits réservés
        </div>
        <div class="menu-f">
            <a href="#"> Mentions légales </a>
            <a href="#"> Conditions d'utlilisation </a>
            <a href="#"> Politique de confidentialité </a>
        </div>
    </div>
</div>
