<img src="assets/img/ajax-loader.gif" *ngIf="disableNavigation" class="loader"/>
<div class="file-upload-body">
    <app-heading-row [title]="'documents.title_document' | translate"></app-heading-row>
    <div class="wrapper">
        <div class="spinner" *ngIf="!users[0] && LOD.length > 0">
            <mat-spinner></mat-spinner>
        </div>
        <div class="file-upload" *ngIf="users[0]" [dir]="getPrimaryDirection()">
            <div class="file-upload__message">
                {{ 'documents.text_filetype' | translate }} : {{ allowedFilesHtml }}
                &nbsp;{{'documents.text_filesize' | translate}} : {{ allowedFileSize }}
            </div>
            <div class="file-upload__body">
                <div class="file-upload__body__1">
                    <div class="file-upload__body__document-type"
                         *ngFor="let document of getPiecesJustificativesToDisplay(); let i = index">
                        <mat-form-field *ngIf="isToDisplayProofsType(document)" class="file-upload__input"
                                        appearance="outline">
                            <mat-label>
                                {{ document.name }}
                            </mat-label>
                            <mat-select #ref
                                        (selectionChange)="changeStatus(ref, i)"
                                        [(value)]="document.selectedDocName"
                                        disableOptionCentering
                                        placeholder="{{ document.name }}"
                                        (selectionChange)="selectChange($event, i)"
                                        [disabled]="document.code === 'POA' && sameAsselected ? true : false">
                                <!-- (openedChange)="openedChange(i, $event)" -->
                                <ng-container *ngFor="let ValidDocument of document.documentTypes">
                                    <mat-option *ngIf="isToDisplayProof(ValidDocument)"
                                                value="{{ ValidDocument.code }}">
                                        {{ ValidDocument.name }}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                        <span *ngIf="isToDisplayProofsType(document)" class="file-upload__button">
                            <input #fileUpload
                                   type="file"
                                   id="file_{{ i }}"
                                   (click)="fileUpload.value = null"
                                   value=""
                                   (change)="handleFileInput($event, document.selectedDocName, document.code)"
                                   style="display: none;"
                            />
                            <button mat-raised-button class="browseInput"
                                    (click)="clickOnButton(i)"
                                    [disabled]="(document.code === 'POA' && sameAsselected) || !document.selectedDocName || document.selectedDocName === ''">
                                {{ 'documents.action_browse' | translate }}
                            </button>
                        </span>
                        <span *ngIf="isToDisplaySameAsProof(document)" class="file-upload__body__document-name">
                            <span *ngIf="allApplicants.length > 1">{{ 'documents.OR' | translate }} &nbsp;</span>
                            <span *ngIf="allApplicants.length > 1">
                                <mat-form-field class="file-upload__or" appearance="standard">
                                    <mat-select placeholder="{{'documents.sameAs' | translate}}"
                                                (selectionChange)="sameAsChange($event, users[0].files.documentsMetaData)"
                                                [(value)]="sameAs">
                                        <mat-option *ngFor="let applicant of allApplicants"
                                                    value="{{applicant.preRegistrationId}}">
                                            <div *ngIf="applicant.demographicMetadata[name]">
                                                {{applicant.demographicMetadata[name][0].value}}
                                            </div>
                                            <!-- {{ applicant.demographicMetadata }} -->
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-icon class="icon" matTooltip="{{ 'helpText.same_as' | translate }}" [inline]="true">
                                    help_outline
                                </mat-icon>
                            </span>
                        </span>
                        <div *ngIf="isToDisplayProofsType(document)" class="file-upload__body__document-name">
                            <div *ngFor="let file of users[0].files.documentsMetaData; let j = index">
                                <div *ngIf="file.docCatCode == document.code">
                                    <span class="file-uploaded-name">{{ 'documents.uploaded' | translate }}
                                        : {{ file.docName }}</span>
                                    <span class="file-uplaoad__body__document-name__view" (click)="viewFile(file)">
                                        <img src="assets/img/view.png" class="view-img"/>
                                        <span> {{ 'documents.zoom' | translate }}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="file-upload__body__2">
                    <ng-container *ngIf="!this.users[0].files || fileIndex < 0">
                        <img class="file-upload-preview-empty-picto" src="assets/img/file-preview-picto.png">
                    </ng-container>
                    <ng-container *ngIf="this.users[0].files && fileIndex >= 0">
                        <p>{{ fileName }}</p>
                        <div *ngIf="!flag">
                            <pdf-viewer class="file-uplaoad__body__2__preview pdf-viewer"
                                        *ngIf="fileUrl && fileExtension.toLowerCase() == 'pdf'"
                                        [src]="fileUrl"
                                        [zoom]="zoom">
                            </pdf-viewer>
                        </div>
                        <div *ngIf="flag">
                            <img *ngIf="fileUrl && fileExtension.toLowerCase() !== 'pdf'"
                                 class="file-uplaoad__body__2__preview"
                                 [src]="fileUrl"/>
                        </div>
                        <div class="file-buttons" *ngIf="fileIndex >= 0">
                            <button class="previousFile" [disabled]="fileIndex <= 0 ? true : false"
                                    (click)="previousFile(fileIndex)">
                                <img src="assets/img/left.png"/>
                            </button>
                            <p *ngIf="fileIndex >= 0">
                                {{ fileIndex + 1 }} of {{ users[0].files.documentsMetaData.length }}
                            </p>
                            <button class="nextFile"
                                    [disabled]="fileIndex == users[0].files.documentsMetaData.length - 1 ? true : false"
                                    (click)="nextFile(fileIndex)">
                                <img src="assets/img/right.png"/>
                            </button>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="user__buttons">
                <button class="user__btn user__btn--back"
                        type="button"
                        (click)="onBack()"
                        [disabled]="disableNavigation"
                        *ngIf="isModify == 'false'">
                    {{ 'documents.action_back' | translate }}
                </button>
                <button *ngIf="isModify == 'false'" class="user__btn" type="button" (click)="onNext()"
                        [disabled]="disableNavigation">
                    {{ 'documents.action_continue' | translate }}
                </button>
                <button [disabled]="disableNavigation" *ngIf="isModify == 'true'" class="user__btn" type="button"
                        style="position: absolute; right: 2rem;bottom: 1rem"
                        (click)="onNext()">
                    {{ 'demographic.action_preview' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
