<div class="heading-row">
    <div class="heading">
        {{title}} <small *ngIf="extraTitle">({{extraTitle}})</small>
    </div>
    <span class="header-spacer"></span>
    <div class="heading-user-buttons" [dir]="getPrimaryDirection()">
        <button mat-stroked-button class="user-button" (click)="onClickHomeBtnHandler()" [dir]="getPrimaryDirection()">
            <mat-icon style="color: white;">dashboard</mat-icon>
            {{ 'header.link_applications' | translate }}
        </button>
        <button mat-stroked-button class="user-button" (click)="onClickLogoutBtnHandler()" [dir]="getPrimaryDirection()">
            <mat-icon style="color: white">power_settings_new</mat-icon>
            {{ 'header.link_logout' | translate }}
        </button>
    </div>
</div>
