.spinner {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.time-selection__title-card {
    color: #ff4081;
    padding: 0px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin: 0px 2vw;
    border-bottom: 1px solid #ff4081;
    border-radius: 0px;
    /* z-index:  -1; */
    position: relative;
}

.time-selection-content {
    margin: 188px 0 200px;
    background-color: #ffffff;
    padding: 50px 50px 0;
    width: 100%;
    display: inline-block;
    box-shadow: none;
}

.disable_add {
    opacity: 0.6 !important;
    cursor: not-allowed !important;
}

.right-button {
    margin: auto;
    float: right;
    cursor: pointer;
    box-sizing: border-box;
    height: 46px;
    width: 46px;
    border: 1px solid #007e42;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-button {
    margin: auto;
    float: right;
    cursor: pointer;
    box-sizing: border-box;
    height: 45px;
    width: 45px;
    border: 1px solid #007e42;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.time-selection__date-card {
    margin: 0;
    padding: 0;
    position: relative;
    box-shadow: none;
}

.time-selection__tile-date {
    font-size: 14px;
    line-height: 21px;
    margin: 3px 0;
}

::ng-deep .mat-card {
    font-family: Lato;
}

.time-selection__tile-date-text {
    font-weight: bold;
    margin: 3px 0;
}

.time-selection__tile-availability-text-number::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 35px;
    background-color: #D8D8D8;
    right: 0;
    top: -10px;
    left: 0;
    margin: 0 auto;
}

.time-selection__tile-availability-text {
    position: relative;
    white-space: normal;
    margin: 9px auto 0;
    width: 104px;
    line-height: 21px;
    font-size: 14px;
    color: #6D6D6D;
}

.right-button a img {
    width: 14px;
}

.left-button a img {
    width: 14px;
}

p.time-selection__tile-availability-text-number {
    position: relative;
    font-weight: bold;
    margin: 20px 0 5px 0;
    color: #6D6D6D;
}

.time-selection__slots-div {
    display: flex;
    margin: 45px 0 64px;
    position: relative;
    z-index: 1;
}

.dataHour {
    background: #bfe0d0;
    border: 1px solid #007e4259;
    border-radius: 6px;
    margin-bottom: 24px;
}

.time-seelection__slot-groups-div {
    margin: 44px 0 32px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    color: #9D9D9D;
}

.time-seelection__slot-groups-div a {
    margin-right: 24px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    text-align: center;
    padding: 14px 24px;
}

.time-seelection__slot-groups-div::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #D8D8D8;
    text-align: center;
    bottom: 0;
    left: 0;
}

.time-seelection__slot-groups-div-selected::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #007e42;
    bottom: 0;
    left: 0;
}

.time-seelection__slot-groups-div-selected {
    color: #007e42 !important
}

.time-selection__time-slots-container {
    border: none;
    padding: 0;
    border-radius: 0px;
    box-shadow: none;
    margin-right: -23px;
    width: 100%;
}


mat-card.mat-card.card.card-content {
    box-sizing: border-box;
    height: 80px;
    width: 248px;
    border: 1px solid rgba(143, 143, 143, 0.27);
    border-radius: 6px;
    box-shadow: none;
    margin-right: 12px;
    margin-bottom: 12px;
    color: #6D6D6D;
    padding: 12px 16px;
}

.time-selection__names-container {
    min-width: 24.5%;
    padding: 0;
    position: relative;
    box-shadow: none;
}

.avableNames {
    background: #bfe0d0;
    border: 1px solid #007e4259;
    border-radius: 6px;
    box-shadow: none;
}

.time-selection__time-slots-container div {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.time-selection__name-list-header {
    color: #3C3C3C;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    padding: 14px 16px 0;
}

.time-selection-indication-to-select-users-header {
    color: #3C3C3C;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    padding: 14px 16px 0;
    width: 16rem;
}

.time-selection-indication-to-select-users {
    color: #c1272d;
    font-family: Montserrat;
    font-size: small;
    text-align: justify !important;
    text-justify: inter-word !important;
}

.time-selection__name-list-item {
    font-size: 16px !important;
}

.time-selection__names-header-time-text {
    font-size: 20px;
    margin-top: 6px;
    display: block;
    margin-bottom: 8px;
}

.time-selection__names-header-day-text {
    font-size: 9px;
}

.time-selection__name-list {
    padding: 0 16px;
    list-style: none;
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
    color: #3C3C3C;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    text-transform: capitalize;
}

.time-selection__name-list-item {
    padding: 15px 0 15px 10px;
    height: 40px;
    width: 100%;
    font-size: 0.8rem;
}

.name-delete-button {
    font-size: 1rem;
    cursor: pointer;
    float: right;
    text-align: center;
    transform: translateY(0.2rem);
}

.user__btn {
    /* padding: 0px 53px;
      border: 1px solid red;
      margin: 5px; */
    background-color: #ff4081;
    border: none;
    color: white;
    padding: 0.8rem 4rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-placer {
    margin-left: 50%;
}

.button-right {
    float: right;
}

.user__btn:disabled,
.user__btn:active {
    border: 1px solid gray;
    background-color: white;
    color: #ff4081;
}

.card {
    display: flex;
    flex-wrap: wrap;
    height: 110px;
    width: 295px;
    margin: 0;
    border: 1px solid #eee;
    box-shadow: none;
    cursor: pointer;
    border-radius: 0;
}

.card-content {
    padding: 15px 2rem;
}

.card-time-text {
    color: #3C3C3C;
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    margin-bottom: 0px;
}

.card-slot-text {
    font-size: 14px;
    position: relative;
    font-weight: 500;
    color: #6D6D6D;
    line-height: 21px;
    margin-top: 9px;
    padding-left: 23px;
}


.card-slot-text-span-image {
    float: right;
    margin-left: 10px;
}

.card-slot-text-span-image img {
    height: 1rem;
    width: 1rem;
}

.card-slot-text-selected {
    font-size: 0.8rem;
    font-weight: 500;
    color: white;
}

.sizing {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: 1px solid #eee;
    width: 135px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: none;
    margin: 0 10px;
}

.sizing:nth-child(1) {
    margin-left: 0px;
}

.middle {
    float: left;
    overflow: hidden;
    width: 67.5%;
    white-space: nowrap;
    margin: 0 15px;
}

.container {
    display: flex;
    text-align: center;
}

.left-button {
    cursor: pointer;
}

.right-button {
    cursor: pointer;
}

.disabled {
    color: #aaa;
    border: 1px solid #aaa;
    cursor: initial;
}

mat-card.mat-card.sizing.selected {
    border: 1px solid #007e42;
    background: #bfe0d0;
}

.takenRDV {
    position: absolute;
    right: 8px;
    bottom: 12px;
}

span.card-slot-text-span-number {
    font-weight: bold;
    font-size: 14px;
    color: green;
    font-weight: bold;
}

.selected-card {
    background-color: #bfe0d0 !important;
}

mat-card.mat-card.card.card-content.selected-card {
    border: 1px solid #007e42;
    background: #bfe0d0;
}

mat-icon.mat-icon.name-delete-button.material-icons.mat-icon-no-color {
    color: #ea4d5b;
}

.time-selection__button-container {
    padding: 0;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.spacer {
    flex: 1 1 auto;
}


.user-back-btn {
    border-radius: 2px;
    background-color: transparent;
    border: 1px solid #007e42;
    color: #007e42;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: 52px;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 80px;
}

.user-book_later-btn {
    border-radius: 2px;
    background-color: transparent;
    border: 1px solid #007e42;
    color: #007e42;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: 20px;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 80px;
}

.user-continue-btn {
    border-radius: 2px;
    background-color: #007e42;
    border: none;
    color: white;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: 0px;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 80px !important;
}

.disabled-user-continue-btn {
    border: 1px solid #c2c3c4;
    background-color: transparent;
    color: #c2c3c4;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: 0px;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 80px !important;
}

.time-selection__date {
    margin: 0.35rem 0 10px 5px;
    text-align: center;
}

@media (max-width: 500px) {
    .container {
        margin: 0 -20px 0 -20px;
    }

    .middle {
        margin: 0;
        width: 100%;
        overflow: scroll;
    }

    div::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }

    .time-selection__name-list-item {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .time-selection__time-slots-container {
        width: 100%;
    }

    .time-selection__slots-div {
        flex-wrap: wrap;
    }

    .time-selection__names-container {
        display: flex;
        flex-wrap: wrap;
        width: 94%;
        margin-top: 24px;
    }

    .user-back-btn,
    .user-book_later-btn,
    .user-continue-btn {
        font-size: 10px;
        padding: 0px 2px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
    .container {
        margin: 0 0 0 15px;
    }

    .sizing {
        margin: 0 10px 0 10px;
    }

    .middle {
        margin: 0;
        width: 75%;
    }
}

@media (min-width: 1040px) {
    .middle {
        width: 85%;
    }
}
