/* .expansionPanelPlacer{
    margin: 30px 30px;
    padding: 15px 15px;
}

.spacer{
    margin: 15px 0 0 0;
}

.inlineSpacer{
    margin: 0 35px 0 0;
}

.right-align{
    text-align: right;
}

.img-spacer{
    margin: 0 0 0 -6px;
    cursor: pointer;
}

.hyperlink{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.map-placer{
    position: relative;
}

@media(max-width: 500px) {
    .expansionPanelPlacer{
        padding: 0;
        margin: 5px;
    }
}

@media(max-width: 765px) {

    .mat-table {
        overflow: auto;
      }

    .mat-header-row, .mat-row {
        min-width: 1000px;
      }
} */

.inline-flex {
    display: inline-flex;
}

.center_selection {
    margin: 188px 0 200px;
    background-color: #ffffff;
    padding: 0px 4rem 0;
    width: 100%;
    display: inline-block;
    box-shadow: none;
}

.center-selection__title-card {
    color: #ff4081;
    padding: 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.center-selection__button-container {
    padding: 0;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.user-back-btn {
    border-radius: 2px;
    background-color: transparent;
    border: 1px solid #007e42;
    color: #007e42;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: 52px;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 80px;
}

.user-book_later-btn {
    border-radius: 2px;
    background-color: transparent;
    border: 1px solid #007e42;
    color: #007e42;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: 20px;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 80px;
}

.user-continue-btn {
    border-radius: 2px;
    background-color: #007e42;
    border: none;
    color: white;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: 0px;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 80px !important;
}

.spacer {
    flex: 1 1 auto;
}

.inline-flex.name img {
    width: 16px;
    margin-right: 7px;
}

.timeLunch {
    display: flex;
}

span.letter {
    padding: 0 7px;
    font-size: 19px;
}

.Phone img {
    width: 16px;
    margin-right: 7px;
}

section {
    display: flex;
}

.centers-wrapper {
    max-width: 100%;
    width: 100% !important;
    margin: auto auto;
}

.centers-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.center-card {
    display: flex;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.14);
    margin: 16px 0;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    color: #6D6D6D;
    font-family: Lato;
    font-size: 16px;
    line-height: 31px;
    padding: 12px 16px;
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
}

.center-card-selected {
    border: 1px solid #007e42;
    background-color: #E5F2EC;
}

input[type='radio'] {
    height: 25px;
    width: 25px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    margin: 8px;
}

input[type='radio']:checked {
    border: 1px solid #007e42;
    background-color: #fff;
}

input[type='radio']:checked::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: #007e42;
    position: absolute;
    left: 0.7rem;
    top: 0.2rem;
}

input[type='radio']:active {
    border: 2px solid #007e42;
}

.map {
    margin-left: 0.3rem;
    width: 520px;
    height: fit-content;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border-color: #007e42;
    padding: 2rem 2rem;
}

/*
.map {
  width: 620px;
  display: flex;
  height: 620px;
  width: 520px;
}*/

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) .mat-option-text {
    color: #FFF;
}

.centers-list ul li:first-child .center-card {
    /*margin-top: 0;*/
}

mat-card.select-card.mat-card {
    box-sizing: border-box;
    height: 40px;
    width: 300px;
    border: 1px solid #D8D8D8;
    border-radius: 2px;
    box-shadow: none;
    margin-top: 0;
    margin-right: 16px;
    margin-left: 16px;
}

.center_selection-intial-recommendation-container {
    display: flex;
    align-items: center;
}

.center_selection-center_recommendation-display {
    color: #30badd;
    opacity: 100%;
    white-space: nowrap;
    cursor: pointer;
    display: inline-flex;
}

::ng-deep .mat-select-arrow {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
    margin: 0 0;
    color: #9D9D9D;
}


::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #B5B5B5;
    font-family: Lato;
    font-size: 16px;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #B5B5B5;
    font-family: Lato;
    font-size: 16px;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #B5B5B5;
    font-family: Lato;
    font-size: 16px;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #B5B5B5;
    font-family: Lato;
    font-size: 16px;
}

.center_selection-nearby-btn {
    color: #007e42;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-left: 144px;
    padding: 0;
}

::ng-deep .mat-option-text {
    display: inline-block;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Lato;
    font-size: 16px;
    line-height: 24px;
}

.tex-map {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
}

.center_selection-center-available-text {
    color: #9D9D9D;
    font-size: 14px;
    line-height: 21px;
}

.search-btn img {
    height: 1rem;
    transform: translateY(-0.01rem);
}

.search-btn {
    width: 35px;
    height: 35px;
    background-color: #f4f4f4;
    border: 1px solid #fd518c;
    border-radius: 0;
    opacity: 100%;
    line-height: 30px;
    text-transform: uppercase;
}

.center_selection-form-container {
    animation: 1.3s anim ease-out;
}

@keyframes anim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

img.colsetb {
    width: 14px;
    height: 14px;
    margin-left: 25px;
}

.center-celect-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-cancel-btn {
    width: 35px;
    height: 40px;
    background-color: #fd518c;
    border-radius: 0;
    opacity: 100%;
    text-transform: uppercase;
}

input.search-input,
input.search-input:focus {
    border: none;
}

input.search-input {
    height: 35px;
    width: 312px;
    padding: 10px 11px;
    font-size: 16px;
    color: #3C3C3C;
    font-family: Lato;
}

.firstA {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

::ng-deep .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    background-color: #007e42 !important;
    color: rgba(255, 255, 255, 1) !important;
}

.mat-option:hover {
    background-color: #d8f7ff;
    opacity: 100%;
}

.select-card {
    padding: 0;
    box-shadow: 4px black;
    border-radius: 0;
    height: 40px;
    width: 50%;
    margin-top: 10px;
}

.search-text {
    display: flex;

    font-size: 14px;
    color: #707070;
    width: 100%;
    margin-top: 10px;
    margin-left: 25px;
}

.search-card {
    box-sizing: border-box;
    height: 40px;
    width: 360px;
    border: 1px solid #D8D8D8;
    border-radius: 2px;
    box-shadow: none;
    padding: 0;
}

img.search-g {
    height: 16px;
    width: 16px;
}

button.search-cancel-btn.mat-icon-button {
    position: absolute;
    background: transparent;
}

.search-form {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 500px) {

    .user-back-btn,
    .user-book_later-btn,
    .user-continue-btn {
        font-size: 10px;
        padding: 0px 2px;
        margin-right: 20px;
    }


    .centers-wrapper {
        width: 90%;
    }

    .center_selection-center_recommendation-display {
        white-space: normal;
    }
}


.rdv-flag {
    color: #E33230;
}


.centers-scroll-list {
    margin-right: 0.3rem;
    /*height: 50rem;*/
    /*margin-top: 1rem;*/
    margin-bottom: 1rem;
    /*box-sizing: border-box;*/
    /*border: 1px solid rgba(0, 0, 0, 0.1);*/
    /*border-radius: 8px;*/
    /*border-color: #007e42;*/
    padding: 0rem 2rem;
}
