<div class="Cen-selection">
    <app-heading-row [title]="'centerSelection.title' | translate"></app-heading-row>
    <div class="wrapper">
        <div class="center_selection" *ngIf="isWorkingDaysAvailable">
            <div class="container">
                <!--                <div class="center-celect-cont">-->
                <!--                    <div class="center_selection-form-container">-->
                <!--                        <form class="search-form">-->
                <!--                            <mat-card class="select-card">-->
                <!--                                <mat-select-->
                <!--                                        disableOptionCentering-->
                <!--                                        name="select"-->
                <!--                                        class="select-input"-->
                <!--                                        [(ngModel)]="locationType"-->
                <!--                                        value="locationType"-->
                <!--                                        placeholder="{{ 'centerSelection.text_select' | translate }}">-->
                <!--                                    <mat-option *ngFor="let locationType of locationTypes"-->
                <!--                                                style="color:black;"-->
                <!--                                                [value]="locationType">-->
                <!--                                        {{ locationType.locationHierarchyName }}-->
                <!--                                    </mat-option>-->
                <!--                                </mat-select>-->
                <!--                            </mat-card>-->
                <!--                            <mat-card class="search-card">-->
                <!--                                <input *ngIf="locationType !== null"-->
                <!--                                       mat-input-->
                <!--                                       type="search"-->
                <!--                                       placeholder="{{ 'centerSelection.text_enter' | translate }} {{ locationType.locationHierarchyName }}"-->
                <!--                                       name="search"-->
                <!--                                       class="search-input"-->
                <!--                                       [(ngModel)]="searchText"/>-->
                <!--                                <input *ngIf="locationType === null"-->
                <!--                                       mat-input-->
                <!--                                       type="search"-->
                <!--                                       placeholder="{{ 'centerSelection.text_search' | translate }}"-->
                <!--                                       name="search"-->
                <!--                                       class="search-input"-->
                <!--                                       [(ngModel)]="searchText"/>-->
                <!--                                <button matTooltip="{{ 'helpText.magnifying_glass' | translate }}"-->
                <!--                                        mat-icon-button-->
                <!--                                        type="submit"-->
                <!--                                        (click)="showResults()">-->
                <!--                                    <img class="search-g" src="assets/img/search_grey.png"/>-->
                <!--                                </button>-->
                <!--                                <button mat-icon-button-->
                <!--                                        class="search-cancel-btn"-->
                <!--                                        type="button"-->
                <!--                                        (click)="getRecommendedCenters()">-->
                <!--                                    <img class="colsetb" src="assets/img/times.png"/>-->
                <!--                                </button>-->
                <!--                            </mat-card>-->
                <!--                        </form>-->
                <!--                    </div>-->
                <!--                    <div class="center_selection-intial-recommendation-container" *ngIf="searchClick">-->
                <!--                        <div *ngIf="REGISTRATION_CENTRES" class="center_selection-center_recommendation-display">-->
                <!--                            <span>-->
                <!--                                <div class="center_selection-center-available-text">-->
                <!--                                    {{ REGISTRATION_CENTRES.length }}-->
                <!--                                    {{ 'centerSelection.text_centers' | translate }}-->
                <!--                                </div>-->
                <!--                            </span>-->
                <!--&lt;!&ndash;                            <button matTooltip="{{ 'helpText.nearBy' | translate }}"&ndash;&gt;-->
                <!--&lt;!&ndash;                                    mat-button&ndash;&gt;-->
                <!--&lt;!&ndash;                                    class="center_selection-nearby-btn"&ndash;&gt;-->
                <!--&lt;!&ndash;                                    (click)="getLocation()">&ndash;&gt;-->
                <!--&lt;!&ndash;                                {{ 'centerSelection.action_nearBy' | translate }}&ndash;&gt;-->
                <!--&lt;!&ndash;                            </button>&ndash;&gt;-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
                <div class="tex-map">
                    <div class="centers-wrapper">
                        <div class="centers-list" *ngIf="REGISTRATION_CENTRES">
                            <span *ngIf="!showMessage && !searchClick && REGISTRATION_CENTRES.length !== 0"
                                  style="margin-left:24px;"
                                  class="center_selection-center-available-text">
                                {{ REGISTRATION_CENTRES.length }}
                                {{ 'centerSelection.text_centers' | translate }}
                            </span>
                            <span *ngIf="showMessage  && REGISTRATION_CENTRES.length === 0"
                                  style="margin-left:24px;"
                                  class="center_selection-center-available-text">
                                {{ 'centerSelection.noResult_found' | translate }}
                            </span>
                            <ul class="centers-scroll-list">
                                <li *ngFor="let center of REGISTRATION_CENTRES; let i = index">
                                    <mat-card
                                            [ngClass]="selectedCentre === center ? 'center-card center-card-selected' : 'center-card'">
                                        <div class="firstA">
                                            <mat-radio-button
                                                    [checked]="selectedCentre === center"
                                                    (click)="selectedRow(center)"
                                                    name="center">
                                            </mat-radio-button>
                                            <div class="namePhone">
                                                <div class="inline-flex name">
                                                    <div><img src="assets/img/map-marker-alt.png"/></div>
                                                    <div>
                                                        {{
                                                        center.name +
                                                        ', ' +
                                                        center.addressLine1 +
                                                        ', ' +
                                                        center.addressLine2 +
                                                        ', ' +
                                                        center.addressLine3
                                                        }}
                                                    </div>
                                                </div>
                                                <!--                                                <div class="Phone">-->
                                                <!--                                                    <span><img src="assets\phone.png"/></span>-->
                                                <!--                                                    <span>{{ center.contactPhone }}</span>-->
                                                <!--                                                </div>-->
                                                <div class="Phone">
                                                    <span><img src="assets/img/calendar.png"/></span>
                                                    <span class="rdv-flag"
                                                          *ngIf="this.center.centerTypeCode.indexOf('-AVRDV') >= 0">
                                                        Centre Avec RDV
                                                    </span>
                                                    <span class="rdv-flag"
                                                          *ngIf="this.center.centerTypeCode.indexOf('-AVRDV') < 0">
                                                        Centre sans RDV
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="adresse">
                                            <div>
                                                <span class="timeLunch">
                                                    {{ 'centerSelection.text_timing' | translate }}&nbsp; &nbsp; : &nbsp;
                                                    <strong>
                                                        {{
                                                        changeTimeFormat(center.centerStartTime.substring(0, 5)) +
                                                        ' - ' +
                                                        changeTimeFormat(center.centerEndTime.substring(0, 5))
                                                        }}
                                                    </strong>

                                                </span>
                                            </div>
                                            <!--                                            <div>-->
                                            <!--                                                <span>-->
                                            <!--                                                    {{ 'centerSelection.text_lunch' | translate }}&nbsp; &nbsp; : &nbsp;-->
                                            <!--                                                    <strong>-->
                                            <!--                                                        {{-->
                                            <!--                                                        changeTimeFormat(center.lunchStartTime.substring(0, 5)) +-->
                                            <!--                                                        ' - ' +-->
                                            <!--                                                        changeTimeFormat(center.lunchEndTime.substring(0, 5))-->
                                            <!--                                                        }}-->
                                            <!--                                                    </strong>-->
                                            <!--                                                </span>-->
                                            <!--                                            </div>-->
                                        </div>
                                    </mat-card>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--                    <div class="map" *ngIf="showMap">-->
                    <!--                        <app-map [mapProvider]="mapProvider"></app-map>-->
                    <!--                    </div>-->
                </div>
                <mat-card class="center-selection__button-container">
                    <button (click)="routeBack()" class="user-back-btn">
                        {{ 'centerSelection.action_back' | translate }}
                    </button>
                    <div class="rightB">
                        <button (click)="routeDashboard()" class="user-book_later-btn">
                            {{ 'centerSelection.action_book_later' | translate }}
                        </button>
                        <button (click)="routeNext()" [disabled]="selectedCentre === null" class="user-continue-btn">
                            {{ 'centerSelection.action_continue' | translate }}
                        </button>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>
